@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;1,100&display=swap');
:root{
    --color-one: rgba(10, 126, 172, 0.89);
    --color-two: #fff;
    --color-three: rgba(105, 100, 100, 0.281);
}
*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}
html,body{
    height: 100%;
    font-family: Roboto;
    font-size: 16px;
}
.container{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 220px 1fr;
}
.sidebar{
 background-color: var(--color-one);
 box-shadow: 1px 0px 15px 0px rgba(63, 109, 151, 0.589);
 color: #fff;
 display: flex;
 flex-direction: column;
}

.logo{
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;

    svg{
        width: 40px;
        fill: #fff;
    }

    h3{
        padding-top: 8px;
        padding-right: 20px;
    }
}

.main_menu{
    margin-top: 25px;
    display: flex;
    flex-direction: column;
}

.menu_list{
    height: 30px;
    width: 100%;
    display: flex;
    margin-top: 4px;

    svg{
    fill: #fff;
    width: 20px;
    margin-left: 20px;
    }

    p{
    font-size: 16px;
    font-weight: 400;
    margin: 5px 8px;
    }
    a{
    text-decoration: none;
    color: #fff;
    }
}

.contents{
    display: grid;
    grid-template-rows: 120px 1fr;
}
.header{
    background-color: var(--color-two);
    box-shadow: 0px 1px 15px 0px rgba(68, 67, 67, 0.329);
    display: grid;
    grid-template-rows: 1fr 1fr;

   
    
    img{
        width: 40px;
    };
}

.upper{
    display: grid;
    grid-template-columns: 1fr 40px 250px; 
}
svg{
    width: 20px;
}
.search{
    display: flex;
    padding: 20px 50px;

    input{
        font-size: 16px;
        border: none;
        width: 400px;
        height: 20px;
        border-radius: 10px;
        background-color: var(--color-three);
        margin-left: 5px;
    }
}

.notified{
    padding-top: 20px;
}

.login{
    display: flex;
    padding-top: 12px;

    img{
        border-radius: 50%;
        border: 1px solid rgba(0, 0, 0, 0.616);
    }
    p{
        margin: 12px;
        font-weight: 500;
    }
}
.lower{
    background-color: black;
}
.body_content{
    background-color: var(--color-three);
}
