@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;1,100&display=swap');
:root{
    --color-one: #1484CD;
    --color-two: #fff;
    --color-three: #1483cd2c;
    --color-four: #996515; 
}
*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}
html,body{
    height: 100%;
    font-family: Roboto;
    font-size: 16px;
}
.container{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 220px 1fr;
}
.sidebar{
 background-color: var(--color-one);
 box-shadow: 1px 0px 15px 0px rgba(63, 109, 151, 0.589);
 color: #fff;
 display: flex;
 flex-direction: column;
}

.logo{
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;

    svg{
        width: 40px;
        fill: #fff;
    }

    h3{
        padding-top: 8px;
        padding-right: 20px;
    }
}

.main_menu{
    margin-top: 25px;
    display: flex;
    flex-direction: column;
}

.menu_list{
    height: 30px;
    width: 100%;
    display: flex;
    margin-top: 4px;

    svg{
    fill: #fff;
    width: 20px;
    margin-left: 20px;
    }

    p{
    font-size: 16px;
    font-weight: 400;
    margin: 5px 8px;
    }
    a{
    text-decoration: none;
    color: #fff;
    }
}

.contents{
    display: grid;
    grid-template-rows: 120px 1fr;
}
.header{
    background-color: var(--color-two);
    box-shadow: 0px 1px 15px 0px rgba(68, 67, 67, 0.329);
    display: grid;
    grid-template-rows: 1fr 1fr; 
}

.upper{
    display: grid;
    grid-template-columns: 1fr 40px 250px; 
}
svg{
    width: 20px;
}
.search{
    display: flex;
    padding: 20px 50px;

    input{
        font-size: 16px;
        border: none;
        width: 400px;
        height: 20px;
        border-radius: 10px;
        background-color: var(--color-three);
        margin-left: 5px;
    }
}

.notified{
    padding-top: 20px;
}

.login{
    display: flex;
    padding-top: 15px;

    img{
        width: 30px;
        border-radius: 50%;
        border: 1px solid rgba(0, 0, 0, 0.616);
    }
    p{
        margin: 6px;
        font-weight: 500;
    }
}
.lower{
    display: grid;
    grid-template-columns: 1fr 350px; 
}
.active_user{
    display: flex;
    padding-top: 5px;

    img{
        width: 40px;
        border-radius: 50%;
        border: 1px solid rgba(0, 0, 0, 0.616);
        margin-top: 2px;
        margin-left: 50px;
    }
    span{
        font-size: 12px;
        font-style: italic;
        font-weight: bold;
    }
    p{
        margin: 2px 10px;
    }
}
.rec_ctrl{
    display: flex;
    button{
        width: 60px;
        height: 20px;
        margin: 17px 8px;
        border-radius: 10px;
        border: none;
        color: #fff;
        background-color: var(--color-one);
    }
}
.body_content{
    background-color: var(--color-three);
    display: grid;
    grid-template-columns: 1fr 300px;
    color: rgba(0, 0, 0, 0.856);
    
}
.main_content{
    display: grid;
    grid-template-rows: 30px 1fr;
   
    h4{
        margin-left: 30px;
        margin-top: 14px;
        font-size: 12px;
    }

    .cards_holder{
        display: grid;
        grid-template-columns: 1fr 1fr;
       
        grid-template-rows: repeat(3, 1fr);
    }
    .reaction{
        display: flex;
        justify-content: flex-end;

        svg{
            margin-right: 15px;
        }
    }
}
.cards{
    background-color: var(--color-two);
    box-shadow: 0px 1px 15px 0px rgba(77, 76, 76, 0.836);
    border-left: 5px solid var(--color-four);
    margin-left: 30px;
    height: 140px;
    display: grid;
    grid-template-rows: 1fr 25px;

    p{
        margin: 20px;
    }
    span{
        font-weight: bold;  
    }
}
.updates{
    display: flex;
    flex-direction: column;
    padding-left: 40px;

    h4{
        font-size: 14px;
        margin-top: 20px;
    }
    .update_card{
        height: 200px;
        width: 200px;
        border-radius: 10px;
        background-color: var(--color-two);
        box-shadow: 0px 1px 15px 0px rgba(77, 76, 76, 0.836);
        margin: 0px 0px 5px 0px;
    }
}

.annoucement{
    article{
        margin: 12px;
        height: 50px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.603);
        font-size: 10px;
        span{
            font-weight: bold;
        }
    }
}
.trends{
    article{
        margin: 12px;
        height: 35px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.603);
        font-size: 10px;
        span{
            font-weight: bold;
        }
        div{
            display: flex;
        }
        p{
            margin-top: 7px;
        }
        img{
            margin: 5x;
            height: 25px;
            border-radius: 50%;
            border: 1px solid rgba(0, 0, 0, 0.616);

        }
}
}